body
{
    background-color:yellow;
}
.heading
{
    text-align:center;
    font-size:32px;
    font-weight:bolder;
}
.container
{
    margin-left:35em;
    transition-delay:0.4s;
    transition-duration:3s;
    margin-top:4em;


}
.container:hover{
    margin-left:25em;
}
.one
{
   height:120px;
   width:120px; 
   border:2px solid black;
   transition-duration:3s;
   transition-property:all;
   background-color:rgb(0, 187, 0);
transition-timing-function: linear;
}
.one:hover{
    width:300px;
}
.two
{
    margin-top:3em;
    height:120px;
    width:120px; 
    border:2px solid black;
    transition-duration:3s;
    transition-property:all;
    background-color:rgb(0, 187, 0);
 }
 .two:hover{
     height:300px;
     width:300px;
 }
 .three
 {
     margin-top:3em;
     height:120px;
     width:120px; 
     border:2px solid black;
     transition-duration:3s;
     transition-property:all;
     background-color:rgb(0, 187, 0);
     transition-timing-function: initial;
}
.three:hover{
    width:300px;
}
.four{
    margin-top:3em;
    height:120px;
    width:120px; 
    border:2px solid black;
    transition-duration:3s;
    transition-property:all;
    background-color:rgb(0, 187, 0);
    transition-timing-function: ease;
}
.four:hover{
   width:300px;
}
.five{
    margin-top:3em;
    height:120px;
    width:120px; 
    border:2px solid black;
    transition-duration:3s;
    transition-property:all;
    background-color:rgb(0, 187, 0);
    transition-timing-function: ease-in;  
}
.five:hover{
    width:300px;


}
.six{
    margin-top:3em;
    height:120px;
    width:120px; 
    border:2px solid black;
    transition-duration:3s;
    transition-property:all;
    background-color:rgb(0, 187, 0);
    transition-timing-function: ease-out;
}
.six:hover{
    width:300px;
}
.seven{
    margin-top:3em;
    height:120px;
    width:120px; 
    border:2px solid black;
    transition-duration:3s;
    transition-property:all;
    background-color:rgb(0, 187, 0);
    transition-timing-function: ease-in-out;

}
.seven:hover{
    width:300px;
}
a{
    text-align:center;
    color:red;
    font-size:30px;
    margin-left:3em;
}