*
{
    margin:0;
    padding:0;
}
h1{
    text-align:center;
    font-weight:bolder;
    font-size:56px;
}
.sky
{
    height:100vh;
    width:100%;
    background-image:url("./img_folder/sky.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
    overflow-x:hidden;
}
.sun{
    
    left:74em;
    top: 100px;
    transform:translateX(-50%);
    position:absolute;
    z-index:1;
   
}

.sun img{
    width:72px;
    height:67px;
    animation: sun linear infinite;
    animation-duration: 300s;
}
@keyframes sun{
    0%{
        transform:translateX(0px);
    }
    75%{
        transform:translateX(-4000px);
    }
    


}
.highway
{
    height:200px;
    width:500%;
    display:block;
    background-image:url("./img_folder/road.jpg");
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    background-repeat: repeat-x;
    animation-name: highway;
    animation-duration:6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes highway{
    100%{
        transform:translateX(-3400px);
    }
}
.city{
    height:250px;
    width:500%;
    background-image: url("./img_folder/city.png");
    bottom:200px;
    left:0px;
    right:0px;
    display:block;
    position:absolute;
    z-index: 1;
    background-repeat:repeat-x;
    animation:city 20s linear infinite;
   /* filter:brightness(8px);*/

}
@keyframes city{
    100%{
        transform:translateX(-1400px);
    }
}
.car{
    position:absolute;
     width:400px;
     left:50%;
     bottom:100px;
    z-index:2;
    transform:translateX(-50%);

}
.car img{
    width:100%;
    animation:car 1s  linear infinite;
}
@keyframes car{
   100%{
       transform:translateY(-1px);
   }
   50%{
       transform:translateY(1px);
   }
   0%{
       transform:translateY(-1px);
   }

}
.flag{
    left:46em;
    bottom: 204px;
    position:fixed;
   z-index:1;

}
.flag img{
    width:45px;
    height:45px;
   
}
.wheel
 {
    left:50%;
    bottom: 178px;
    transform:translateX(-50%);
    position:absolute;
    z-index:2;
}
.wheel img{
    width:72px;
    height:72px;
    animation: wheel 1s linear infinite;
}
.back-wheel{
    left:-165px;
    position:absolute;
}
.front-wheel{
    left:80px;
    position:absolute;
}
@keyframes wheel{
  100%{
      transform:rotate(360deg);
  }
}